# Basic .gitattributes for a perl repo.

# Source files
# ============
*.pl text diff=perl
*.pm text diff=perl

*.pl text diff=bash
*.pm text diff=bash

*.pl text diff=vbscrip
*.pm text diff=vbscrip

